*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.color-primary{
    color: #FD6E0A;
}
.bg-primary{
    background: #FFF8F3;
}

.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
.title-primary{
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0;
}

.des-primary{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.container{
    max-width: 1180px;
    margin: auto;
}

/* nav style area starts */
.main-manu{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
    padding: 20px 0;
    
}
.nav-area{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 20px;
}
/* header area starts */
.header{
    
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;


}
.b-main-img{
    width: auto;
    height: 450px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    padding: 20x 0;
}
.b-title{
    font-weight: 600;
    font-size: 45px;
}
.b-name{
    font-weight: 700;
    font-size: 85px;
}
.b-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.action-btn{
    display: flex;
}

/* section about start */
.about{
    text-align: center;
    margin: 20px 0;
    padding: 50px;
}
.about-title{

}
.s-about{
    padding: 130px;
}
.about-info{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    
}

/* works style starts */
.works{
    text-align: center;
}